*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contanier{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(./img/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier .box{
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(255,255,255,0.1);
    z-index: 10;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 18px 18px rgba(10,10,10,0.15);
}
.contanier::after{
    content: '';
    position: absolute;
    height: 300px;
    background: #c1d9fb;
    transform: translate(490px, 150px);
    border-radius: 50%;
}

.contanier .box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}
.contanier .box nav ul li{
    display: inline-block;
    padding: 0 20px;
}
.contanier .box nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #242329;
    transition: 0.4s;
}
.contanier .box nav ul li a:hover{
    color: rgb(90, 142, 240);
}
nav .logo{
    font-size: 25px;
    color: #242329;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 30px;
    text-decoration: none;
}
.contanier .box .contains{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}
.contanier .box .contains .section-1{
    position: relative;
    width: 40%;

}
.contains .section-1 h1{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 0, 0);
}
.contains .section-1 h3{
    margin-bottom: 20px;
    color: #6f34fe;
}
.contains .section-1 p{
    color: gray;
    margin-bottom: 50px;
}
.contains .section-1 .btn{
    padding: 15px 20px;
    background-color: #6f34fe;
    border: 1px solid #6f34fe;
    color: #fff;
    border: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
.contains .section-1 .btn:hover{
    background-color: #fff;
    color: #6f34fe;
}
.contains .section-2{
    width: 40%;
    margin-right: 50px;
}
.contains .section-2 img{
    width: 100%;
}
.contains .section-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}
.contains .section-3 a i{
    font-size: 30px;
    color: #2124e4;
    transition: 0.4s;
}
.contains .section-3 a i:hover{
    color: #6f34fe;
}